@import 'src/styles/variables.scss';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
  cursor: none;
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-weight: 500;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 300;
  background: #000;
}

a {
  text-decoration: none;
}

table {
  display: grid;
}

thead,
tbody,
tr {
  display: contents;
}

th,
td {
  text-align: left;
}

#root {
  width: 100%;
  height: 100vh;
}

canvas {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #000;
}